/WebAppName/packages
/WebAppName/Testers/DALTester/bin
/WebAppName/Common/PUCIT.AIMRL.Common.Logger/bin
/WebAppName/Common/PUCIT.AIMRL.Common/bin
/WebAppName/Common/PUCIT.AIMRL.WebAppNameUI.Common/bin
/WebAppName/DataFramework/PUCIT.AIMRL.WebAppNameDAL/bin
/WebAppName/DataFramework/PUCIT.AIMRL.WebAppNameEntities/bin
/WebAppName/MainApplication/PUCIT.AIMRL.WebAppNameMainApp/bin
/WebAppName/Testers/DALTester/obj
/WebAppName/MainApplication/PUCIT.AIMRL.WebAppNameMainApp/obj
/WebAppName/Common/PUCIT.AIMRL.Common.Logger/obj
/WebAppName/Common/PUCIT.AIMRL.Common/obj
/WebAppName/Common/PUCIT.AIMRL.WebAppNameUI.Common/obj
/WebAppName/DataFramework/PUCIT.AIMRL.WebAppNameDAL/obj
/WebAppName/DataFramework/PUCIT.AIMRL.WebAppNameEntities/obj
/WebAppName/*.suo
/WebAppName/MainApplication/PUCIT.AIMRL.WebAppNameMainApp/logs
/WebAppName/Common/PUCIT.AIMRL.WebAppNameUI.Common/*.user
