/WebAppName/DataFramework/PUCIT.AIMRL.WebAppName.DAL/obj
/WebAppName/DataFramework/PUCIT.AIMRL.WebAppName.DAL/bin
/WebAppName/DataFramework/PUCIT.AIMRL.WebAppName.Entities/obj
/WebAppName/DataFramework/PUCIT.AIMRL.WebAppName.Entities/bin
/WebAppName/Common/PUCIT.AIMRL.WebAppName.UI.Common/bin
/WebAppName/Common/PUCIT.AIMRL.WebAppName.UI.Common/obj
/WebAppName/MainApplication/PUCIT.AIMRL.WebAppName.MainApp/obj
/WebAppName/MainApplication/PUCIT.AIMRL.WebAppName.MainApp/bin
