@{
    Layout = null;
}

<div id="divYesNoCustomModal" class="modal in popup-box" tabindex="-1" style="display:none; top: 25%; left: 35%;">
    <div class="modal-dialog" style="width:400px">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="blue bigger yesnoheader">Replace</h4>
            </div>
            <div class="modal-body" style="width:400px">
                <div class="row">
                    <div class="col-xs-8">
                        <p class="yesnotext">Do you want to replace this Attachment?</p>
                        <div class="modal-footer" style="background:none;border:none;">
                            <button class="btn btn-sm btn-primary" id="btnDivYesNoCustomYes">
                                Yes
                            </button>
                            <button class="btn btn-sm btn-primary" id="btnDivYesNoCustomNo">
                                No
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>